.container {
  height: 100vh;
}

.hero {
  background-image: url(/hero_bg.jpg);
  height: 100%;
}

.content {
  padding: 3rem;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  padding: 20px;
  position: relative;
  background-color: #fff;
  width: 100%;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.code {
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: auto;
  padding: 2rem;
}

.code span {
  font-size: 1rem;
}

.codeContainer  {
  margin-bottom: 2rem;
}

.title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(148, 151, 155, 0.2);
}
